<a href="https://colab.research.google.com/github/The-Alchemists/Caltech-50-on-50-challenge/blob/master/Manish_Caltech_50_on_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1st

In [7]:
def sum(array,k):
	solution = set() 
	for x in array:
		if x in solution: 
			return True
		solution.add(k-x)
    
	return False

c =sum([10,15,3,7], 17)
print (c)

True

#2

In [19]:
def get_factors(array):
    product = 1
    r_prod_array = list()
    for num in array:
        product *= num
        r_prod_array.append(product)
    print (r_prod_array)
    product = 1
    l_prod_array = list()
    for num in array[::-1]:
        product *= num
        l_prod_array.append(product)
    l_prod_array = l_prod_array[::-1]
    print (l_prod_array)
    output= list()
    for i in range(len(array)):
        num = None
        if i == 0:
            num = l_prod_array[i + 1]
        elif i == len(array) - 1:
            num = r_prod_array[i - 1]
        else:
            num = r_prod_array[i - 1] * l_prod_array[i + 1]
        output.append(num)
    
    return output


get_factors([1, 2, 3, 4, 5]) == [120, 60, 40, 30, 24]
print("----------------------------------------------------------")
get_factors([3, 2, 1]) == [2, 3, 6]

[1, 2, 6, 24, 120]
[120, 120, 60, 20, 5]
----------------------------------------------------------
[3, 6, 6]
[6, 2, 1]

True