<a href="https://colab.research.google.com/github/The-Alchemists/Caltech-50-on-50-challenge/blob/master/Sufyan_Caltech_50_on_50_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.01 Given a list of numbers, return whether any two sums to k.
For example, given [10, 15, 3, 7] and k of 17, return true since 10 + 7 is 17.

Bonus: Can you do this in one pass?

In [ ]:
def sums(nums, k):
    for i in range(len(nums) - 1):
        ka = nums[i]
        for j in range(i+1, len(nums)):
            if(ka + nums[j] == k):
                return True

In [ ]:
sums([10, 15, 3, 7], 17)

True

Q. 02 
Given an array of integers, return a new array such that each element at index i of the new array
is the product of all the numbers in the original array except the one at i.
For example, if our input was [1, 2, 3, 4, 5], the expected output would be [120, 60, 40, 30, 24].
If our input was [3, 2, 1], the expected output would be [2, 3, 6].

In [ ]:
a = [3,2,1]
b = a.copy()
res = []
for i in range(len(a)): 
  b = a.copy()
  b.pop(i)
  t = 1
  for j in b:
    t *= j
  res.append(t)
print(res)

[2, 3, 6]

Q. 03

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None
    
    def __repr__(self):
        return str(self.data)

In [ ]:
a = Node("a")
b = Node("b")
c = Node("c")
d = Node("d")
e = Node("e")
f = Node("f")
g = Node("g")
a.left = b
a.right = c
b.left = d
b.right = e
c.left = f
c.right = g

In [ ]:
def serialize(root):
    if not root:
        return None

    serialized_tree = dict()
    serialized_l = serialize(root.left)
    serialized_r = serialize(root.right)

    serialized_tree['data'] = root.data
    if serialized_l:
        serialized_tree['left'] = serialized_l
    if serialized_r:
        serialized_tree['right'] = serialized_r

    return json.dumps(serialized_tree)

In [ ]:
def deserialize(s):
    serialized_tree = json.loads(s)

    node = Node(serialized_tree['data'])
    if 'left' in serialized_tree:
        node.left = deserialize(serialized_tree['left'])
    if 'right' in serialized_tree:
        node.right = deserialize(serialized_tree['right'])

    return node,serialized_tree

In [ ]:
serialize(a)

'{"data": "a", "left": "{\\"data\\": \\"b\\", \\"left\\": \\"{\\\\\\"data\\\\\\": \\\\\\"d\\\\\\"}\\", \\"right\\": \\"{\\\\\\"data\\\\\\": \\\\\\"e\\\\\\"}\\"}", "right": "{\\"data\\": \\"c\\", \\"left\\": \\"{\\\\\\"data\\\\\\": \\\\\\"f\\\\\\"}\\", \\"right\\": \\"{\\\\\\"data\\\\\\": \\\\\\"g\\\\\\"}\\"}"}'

In [ ]:
import json

Q. 04 Given an array of integers, find the first missing positive integer in linear time and constant
space. In other words, find the lowest positive integer that does not exist in the array. The array
can contain duplicates and negative numbers as well.
For example, the input [3, 4, -1, 1] should give 2. The input [1, 2, 0] should give 3

In [ ]:
def find(arr):
  num = []
  for i in range(1,len(arr)+10):
    num.append(i)
  arr = list(set(arr))
  for i in num:
    if i not in arr:
      print(i)
      break
find([3,4,1,-1])

2

In [ ]:
a = [1,2,3,4,5]
b = [1,5,7,8]

for i in b:
  if i in a:
    print(i)

1
5